@import "bootstrap.css";

html {
  overflow-y: hidden !important;
}

.start__container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start__container--title {
  margin: 2rem;
}

.start__container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start__container__form--nickname {
  margin: 1rem 0;
  display: block;
}

.start__container__form--input {
  margin: 1rem 0;
}


.navbar__container {
  background: grey;
}


.navbar__container--href {
  color: white;
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
}

.formik__container--button {
  margin: 1rem;
}

.card__container--image {
  height: 200px;
  width: 200px;
  object-fit: contain;
  border: 1px solid grey;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .card__container--image {
    width: 100px;
    height: 100px;
  }
}